<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Sbk Feedback | Error 500</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/static/css/error.css" />
	</head>
	<body>
		<div id="http-error-status">
			<h1>Error 500</h1>
			<h2>Something has gone wrong.</h2>
			<p>Return to the <a href="/">Sbk Feedback homepage</a></p>
		</div>
	</body>
</html>
