<div id="container">
	<header>
		<h1>
			{{#link-to index}}Sbk Feedback{{/link-to}}
		</h1>
		<nav role="navigation">
			{{#link-to index}}Home{{/link-to}}
		</nav>
	</header>
	<div id="main" role="main">
		{{outlet}}
	</div>
</div>
